@charset "EUC-KR";

p1
{
	font-syle: italic;
	font-variant: small-cpas;
	font-weight: bold;
	font-size: 17px;
	font-family: arial;	
	color: #01A7A1;
}
p2
{
	font-syle:italic;
	font-variant:small-cpas;
	font-weight:bold;
	font-size:15px;
	font-family:arial;	
	color:#000080;
}
p3
{
	font-syle:italic;
	font-variant:small-cpas;
	font-weight:bold;
	font-size:12px;
	font-family:arial;	
	color:#01A7A1;
}
fieldset, img {
    border: 0;
}
select {
	width: 100px;
	height: 19px;
	-padding: .8em .5em;
	border: 1px solid #999;
	font-family: inherit;
	font-size: 11px;
	-border-radius: 0px;
	appearance: none;
	margin: 5px 10px 0px 10px;
}
label{
    padding: 3px;
    font-weight: bold;
    font-size: 11px;    
    vertical-align: top;
    color: #fff;
    background: #01A7A1;
    display:inline-block;
    width: 70px;
    height: 18px;
}
div {
	padding: 1px 1px 1px;
}
textarea {
    webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    webkit-appearance: textfield;
    background-color: white;
    webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    -border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
	font-size: 11px;
	padding: 1px;
	vertical-align: top;
}
table.type11 {
	width: 700px;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 10px;
    font-size: 11px;
}
table.type11 th {
    padding: 2px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #01A7A1;
    height: 10px;    
}
table.type11 td {
    padding: 2px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

table.type12 {
	width: 700px;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 10px;
    font-size: 11px;
}
table.type12 th {
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #337882;
}
table.type12 td {
    padding: 2px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

.div_header {
    margin: 0px 10px 10px;
    font-size: 12px;
}
.div_login {
	width: 310px;
	background-color: #F2F2F2;
	padding: 0px;
 	margin-top: -7px;
 	font-size: 12px;
}
.div_menu {
	width: 310px;
	padding: 0px;
 	margin: -32px 150px 10px;
 	font-size: 12px;
}
.div_select {
	width: 200px;
	margin: -22px -1px 0px;	
}
.div_search {
	margin: 0px 0px 0px;	
}
.div_hr {
	margin: -10px 10px 0px;
}
.div_input {
	width: 1000px;
	height: 27px;
	margin: -5px 10px 0px;
}
.div_input1 {
	width: 1000px;
	height: 300px;
	margin: -5px 10px 0px;
}
.div_input2 {
	width: 1000px;
	height: 27px;
	margin: 5px 10px 0px;
}
.div_smartEditer {
	width: 1000px;
	height: 250px;
	margin: -301px 80px 0px;	
}
.input_login {
	width: 200px;
	height: 24px;
}
.input_search {
	width: 200px;
	height: 18px;
	margin: -1px 1px 1px;
}
.input_content {
	margin: 0px -2px 0px;
	height: 21px;
	width: 632px;
}
.input_content1 {
	margin: 2px -2px 1px;
	height: 106px;
	width: 632px;
}
.btn_login {
    margin: 3px 2px 1px;
    width: 280px;
    height: 35px;
    font-size: 13px;
    color: white;
    background-color: #01A7A1;
    border:none
}
.btn_logout {
    margin: 3px 2px 1px;
    width: 60px;
    height: 19px;
    font-size: 11px;
    color: white;
    background-color: #01A7A1;
    border:none
}
.btn_menu {
    margin: 1px 0px 0px;
    width: 60px;
    height: 19px;
    font-size: 11px;
    color: white;
    background-color: #01A7A1;
    border:none
}
.btn_save {
    margin: 5px 632px 0px; 
    width: 70px;
    height: 19px;
    font-size: 11px;
    color: white;
    background-color: #01A7A1;
    border:none
}
.label_input {
    margin: 2px 0px 0px;
    width: 60px;
    height: auto;
    font-size: 11px;
    color: white;
    background-color: #01A7A1;
    border:none
}
.label_input1 {
    margin: 2px 0px 0px;
    width: 60px;
    height: 247px;
    font-size: 11px;
    color: white;
    background-color: #01A7A1;
    border:none	
}
.select1 {
	width: 100px;
	height: 22px;
	border: 1px solid #999;
	font-family: inherit;
	font-size: 11px;
	appearance: none;
	margin: 0px -2px 0px;
}
.textarea1 {
    webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    webkit-appearance: textfield;
    background-color: white;
    webkit-rtl-ordering: logical;
    cursor: text;
    margin: 2px -2px 0px;
    font: 400 13.3333px Arial;
    padding: 10px 10px;
    -border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
	font-size: 11px;
	padding: 1px;
	height: 106px;
	width: 630px;
	vertical-align: top;
}

.ck.ck-editor {
	max-width: 500px;
}
.ch-editor__editable {
	min-height: 300px;
}